{% extends "Ecommerce/base.html" %}

{% block content %}
<h1>Welcome to Stuff Inc.!</h1>

<div class="banner">
    <div class="banner-item">
        <img src="https://sc01.alicdn.com/kf/H584a4f98452442809de7ad3ff7c5f638D/205782096/H584a4f98452442809de7ad3ff7c5f638D.png_.webp"
            alt='jnwiciuqb'>
        <h3>At Stuff Inc., we always make sure to give you the best quality.</h3>
    </div>
    <div class="banner-item">
        <img src="https://png.pngtree.com/element_our/20190530/ourmid/pngtree-delivery-cartoon-courier-image_1252308.jpg"
            alt="...">
        <h3>You can always return any product if you dont like it.</h3>
    </div>
    <div class="banner-item">
        <img src="https://cdn4.vectorstock.com/i/thumb-large/39/68/cartoon-sport-modern-red-motorbike-vector-20533968.jpg"
            alt="image not availible">
        <h3>Our delivery speed is considered one of the fastest delivery speeds in Dubai!</h3>
    </div>
    <div class="banner-item">
        <img src="https://cdn2.vectorstock.com/i/thumb-large/66/11/closed-cardboard-box-taped-up-icon-icon-cartoon-vector-13846611.jpg"
            alt="poooo">
        <h3>We have many products which you can choose from.</h3>
    </div>
</div>

{% endblock %}