{% extends "Ecommerce/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

</style>
<body>
    <h2>NO REFNDS</h2>
    <p>if your product explodes on front of u cz ur in japan or if ur product summons stalin u cant blame us cuz its ur problem now u did order it so hahahhaahha take that nooob</p>
</body>
</html>

{% endblock %}