.title h1{text-align:center;}

.everything{background-color:black;
color:white;}

.d1{width:65%;background:#fff;
height:550px;margin:0 auto;}

.d1 img{width:70%;background-position:center;height:300px;}

.d1{background-color:black;}

.d1 h2{text-align:center;}


.d2{width:65%;background:#fff;
height:550px;margin:0 auto;}

.d2 img{width:70%;background-position:center;height:300px;}

.d2{background-color:black;}

.d2 h2{text-align:center;}


.d3{width:65%;background:#fff;
height:550px;margin:0 auto;}

.d3 img{width:70%;background-position:center;height:300px;}

.d3{background-color:black;}

.d3 h2{text-align:center;}


.d4{width:65%;background:#fff;
height:550px;margin:0 auto;}

.d4 img{width:70%;background-position:center;height:300px;}

.d4{background-color:black;}

.d4 h2{text-align:center;}


.d5{width:65%;background:#fff;
height:550px;margin:0 auto;}

.d5 img{width:70%;background-position:center;height:300px;}

.d5{background-color:black;}

.d5 h2{text-align:center;}


.d6{width:65%;background:#fff;
height:550px;margin:0 auto;}

.d6 img{width:70%;background-position:center;height:300px;}

.d6{background-color:black;}

.d6 h2{text-align:center;}


.d7{width:65%;background:#fff;
height:550px;margin:0 auto;}

.d7 img{width:70%;background-position:center;height:300px;}

.d7{background-color:black;}

.d7 h2{text-align:center;}


.d8{width:65%;background:#fff;
height:550px;margin:0 auto;}

.d8 img{width:70%;background-position:center;height:300px;}

.d8{background-color:black;}

.d8 h2{text-align:center;}


.d9{width:65%;background:#fff;
height:550px;margin:0 auto;}

.d9 img{width:70%;background-position:center;height:300px;}

.d9{background-color:black;}

.d9 h2{text-align:center;}
  
  
.d10{width:65%;background:#fff;
height:550px;margin:0 auto;}

.d10 img{width:70%;background-position:center;height:300px;}

.d10{background-color:black;}

.d10 h2{text-align:center;}


.d11{width:65%;background:#fff;
height:550px;margin:0 auto;}

.d11 img{width:70%;background-position:center;height:300px;}

.d11{background-color:black;}

.d11 h2{text-align:center;}


.d12{width:65%;background:#fff;
height:550px;margin:0 auto;}

.d12 img{width:70%;background-position:center;height:300px;}

.d12{background-color:black;}

.d12 h2{text-align:center;}